# Altium Designer

/Hardware/*/__Previews/
**.SchDocPreview

# Quartus

*.v.bak
/Software/*/*.qws
/Software/*/db/
/Software/*/incremental_db/
/Software/*/simulation/
/Software/*/output_files/*
!**.sof
!**.jic